body {
  transition: background-color 0.5s;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: crimson;
  transition: 0.4s;
  border-radius: 34px;
}

.slider before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: yellowgreen;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

/* Rounded Sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.responsive_text {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: calc(16px + (24-16) * ((100vw - 320px) / (1920-320)));
}

header {
  position: relative;
  height: 10px;
  background: linear-gradient(141deg, cyan 0%, rebeccapurple 40%, deeppink 90%);
  margin-bottom: 1rem;
}

/* Search icon */
/* CSS Search Icon Code:  */

.search {
  margin-bottom: 1rem;
  position: relative;
  font-size: 5em;
  width: 0.5em;
  height: 0.5em;
  border: 0.1em solid black;
  border-radius: 50%;

  &:before {
    content: "";
    position: absolute;
    background: black;
    right: -0.3em;
    bottom: -0.2em;
    width: 0.4em;
    height: 0.09em;
    transform: rotate(45deg);
  }
}

/* Transparent Card */
.main_box {
  background-image: url(" https://images.unsplash.com/photo-1700349655604-ec5dea0809de?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  margin: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
  height: 350px;
  width: 250px;
}
