@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Sarabun:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sarabun, Roboto;
}

section {
  /* border: 2px solid crimson; */
  width: 95vw;
  height: 100vh;
  display: flex;
  /* margin: 0.5rem; */
}

section .imgBox {
  position: relative;
  width: 50%;
  height: 100%;
}

section .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .contentBox {
  border: 2px solid #e0e1dd;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

section .formBox h1 {
  font-size: 4rem;
  margin-bottom: 25px;
  border-left: 4px solid sienna;
  padding: 0 12px;
  color: coral;
}

.formBox .inputBox {
  margin-bottom: 20px;
}

.formBox .inputBox input {
  width: 30vw;
  padding: 15px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #cecece;
  transition: 0.5s ease;
}

.formBox .inputBox input::placeholder {
  font-size: 1rem;
  color: burlywood;
  letter-spacing: 2px;
}

input[type="submit"],
input[type="reset"] {
  /* border: 1px solid saddlebrown; */
  margin-top: 1rem;
  font-size: 1.2rem;
  border: none;
  color: #e0e1dd;
  background-color: #1b263b;
  padding: 0.5rem 2rem;
  border-radius: 12px;
}

input[type="reset"] {
  margin-left: 0.75rem;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
.ti:hover {
  background-color: #f28482;
  color: #f7ede2;
}

.contentBox .soc {
  /* border: 1px solid saddlebrown; */
  /* width: 50px;
  height: 50px; */
  list-style-type: none;
  position: absolute;
  right: 3rem;
  bottom: 1.85rem;
  margin-right: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1.2s;
}

.ti {
  font-size: 1.5rem;
  color: #778da9;
  padding: 2px;
  margin: 0 0.5rem;
  border: 2px solid #778da9;
  border-radius: 50%;
}
