<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <!-- Container examples  -->
    <!-- <div class="container bg-[#39A7FF] px-2 text-xl text-blue-900"> Default Container </div> -->
    <!-- <div class="2xl:container bg-[#FF9209]"> 2 Extra Large Container </div> -->
    <!-- <div class="xl:container bg-[#D2DE32]"> Extra Large Container </div> -->
    <!-- <div class="lg:container bg-[#7743DB] " > Large Container </div> -->
    <!-- <div class="md:container bg-[#4F6F52]"> Medium Container </div> -->
    <!-- <div class="sm\:container bg-[#CE5A67] px-4"> Small Container </div>

    <div class="lg\:container lg:bg-orange-500 md:bg-amber-950 sm:bg-rose-800 mx-auto"> container     </div> -->

    <!-- Column Examples  -->
    <!-- <div class="container px-4 columns-3">
        <p>Icons are capable of enhancing the content that surrounds them, but they have to be self-explanatory for that to happen. We have icons for things we like (a thumbs up), things we can share (a box topped with an up arrow), and even for protection against malicious online attacks (a shield), but what are the options we have for representing “privacy”? The answer is not so straightforward, and Preethi Sam examines the possibilities in this article.</p>
        <p>I’ve been on the lookout for a privacy icon and thought I’d bring you along that journey. This project I’ve been working on calls for one, but, honestly, nothing really screams “this means privacy” to me. I did what many of us do when we need inspiration for icons and searched The Noun Project, and perhaps you’ll see exactly what I mean with a small sample of what I found.</p>
        <p>Padlocks, keys, shields, and unsighted eyeballs. There’s a lot of ambiguity here, at best, and certainly no consensus on how to convey “privacy” visually. Any of these could mean several different things. For instance, the eyeball with a line through it is something I often see associated with visibility (or lack thereof), such as hiding and showing a password in an account login context.</p>
        <p>There are a couple of solid points to be made about whether we need a less ambiguous icon for privacy or if an icon is even needed in the first place. For example, it’s fair to say that the content surrounding the icon will clarify the meaning. Sure, an eyeball with a line through it can mean several things, but if there’s a “Privacy” label next to it, then does any of this really matter? I think so.</p>              
    </div>     -->

    <!-- Float, display, clear -->
    <!-- <div class="container px-5 columns-md">
        <img class="w-32 float-left" src="https://cdn.pixabay.com/photo/2023/10/11/18/59/autumn-8309311_1280.jpg" >
        <img src="https://media.istockphoto.com/id/1266922896/vector/pumpkin-spice-seamless-pattern.jpg?s=1024x1024&w=is&k=20&c=IMQJS8ad4_mqdnCyarVdJ-hQbPySpRB5Veeu4OgF5I8=" class="w-64 float-right">
        <p class="clear-both">Icons are capable of enhancing the content that surrounds them, but they have to be self-explanatory for that to happen. We have icons for things we like (a thumbs up), things we can share (a box topped with an up arrow), and even for protection against malicious online attacks (a shield), but what are the options we have for representing “privacy”? The answer is not so straightforward, and Preethi Sam examines the possibilities in this article.</p>
        <p>I’ve been on the lookout for a privacy icon and thought I’d bring you along that journey. This project I’ve been working on calls for one, but, honestly, nothing really screams “this means privacy” to me. I did what many of us do when we need inspiration for icons and searched The Noun Project, and perhaps you’ll see exactly what I mean with a small sample of what I found.</p>
        <p>Padlocks, keys, shields, and unsighted eyeballs. There’s a lot of ambiguity here, at best, and certainly no consensus on how to convey “privacy” visually. Any of these could mean several different things. For instance, the eyeball with a line through it is something I often see associated with visibility (or lack thereof), such as hiding and showing a password in an account login context.</p>
        <p>There are a couple of solid points to be made about whether we need a less ambiguous icon for privacy or if an icon is even needed in the first place. For example, it’s fair to say that the content surrounding the icon will clarify the meaning. Sure, an eyeball with a line through it can mean several things, but if there’s a “Privacy” label next to it, then does any of this really matter? I think so.</p>
    </div> -->

    <!-- Position -->
    <!-- <div class="h-screen parent mb-6">
      <div class="container px-2">
        <div class="relative w-32 h-32 px-6 py-6 bg-red-500 rounded-lg p-8">
          <div class="absolute inset-2 p-2 w-24 h-24 bg-yellow-500 rounded-lg"> test </div>
        </div>
      </div>
    </div> -->


    <!-- <div class="relative bg-green-500 p-6 mt-6">
        <p>Relative parent</p>
        <div class="absolute px-3 my-2 rounded-lg bottom-0 left-0 bg-emerald-800">
            <p>Absolute child</p>
        </div>
    </div> -->

    <div class="h-screen text-white bg-slate-900 Parent">
      <div class="container flex">
        <div class="z-10 p-3 bg-lime-400 border border-white rounded-full">05</div>
        <div class="z-10 p-3 bg-lime-400 border border-white rounded-full">04</div>
        <div class="z-10 p-3 bg-lime-400 border border-white rounded-full">03</div>
        <div class="z-10 p-3 bg-lime-400 border border-white rounded-full">02</div>
        <div class="z-10 p-3 bg-lime-400 border border-white rounded-full">01</div>
      </div>
    </div>

    <img src="https://media.istockphoto.com/id/1180804853/vector/autumn-a-cup-of-coffee.jpg?s=1024x1024&w=is&k=20&c=e5tVkHKy8sTd4t7BAtHTQWR3aQP9-F0Uci27cglubZs=" class="w-64 h-64" alt="">
  </body>
</html>
