<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> Contact us</title>
  <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
  <!-- Container examples  -->
  <!-- <div class="container bg-[#39A7FF] px-2 text-xl text-blue-900"> Default Container </div> -->
  <!-- <div class="2xl:container bg-[#FF9209]"> 2 Extra Large Container </div> -->
  <!-- <div class="xl:container bg-[#D2DE32]"> Extra Large Container </div> -->
  <!-- <div class="lg:container bg-[#7743DB] " > Large Container </div> -->
  <!-- <div class="md:container bg-[#4F6F52]"> Medium Container </div> -->
  <!-- <div class="sm\:container bg-[#CE5A67] px-4"> Small Container </div>

    <div class="lg\:container lg:bg-orange-500 md:bg-amber-950 sm:bg-rose-800 mx-auto"> container     </div> -->

  <!-- Column Examples  -->
  <!-- <div class="container px-4 columns-3">
        <p>Icons are capable of enhancing the content that surrounds them, but they have to be self-explanatory for that to happen. We have icons for things we like (a thumbs up), things we can share (a box topped with an up arrow), and even for protection against malicious online attacks (a shield), but what are the options we have for representing “privacy”? The answer is not so straightforward, and Preethi Sam examines the possibilities in this article.</p>
        <p>I’ve been on the lookout for a privacy icon and thought I’d bring you along that journey. This project I’ve been working on calls for one, but, honestly, nothing really screams “this means privacy” to me. I did what many of us do when we need inspiration for icons and searched The Noun Project, and perhaps you’ll see exactly what I mean with a small sample of what I found.</p>
        <p>Padlocks, keys, shields, and unsighted eyeballs. There’s a lot of ambiguity here, at best, and certainly no consensus on how to convey “privacy” visually. Any of these could mean several different things. For instance, the eyeball with a line through it is something I often see associated with visibility (or lack thereof), such as hiding and showing a password in an account login context.</p>
        <p>There are a couple of solid points to be made about whether we need a less ambiguous icon for privacy or if an icon is even needed in the first place. For example, it’s fair to say that the content surrounding the icon will clarify the meaning. Sure, an eyeball with a line through it can mean several things, but if there’s a “Privacy” label next to it, then does any of this really matter? I think so.</p>              
    </div>     -->

  <!-- Float, display, clear -->
  <!-- <div class="container px-5 columns-md">
        <img class="w-32 float-left" src="https://cdn.pixabay.com/photo/2023/10/11/18/59/autumn-8309311_1280.jpg" >
        <img src="https://media.istockphoto.com/id/1266922896/vector/pumpkin-spice-seamless-pattern.jpg?s=1024x1024&w=is&k=20&c=IMQJS8ad4_mqdnCyarVdJ-hQbPySpRB5Veeu4OgF5I8=" class="w-64 float-right">
        <p class="clear-both">Icons are capable of enhancing the content that surrounds them, but they have to be self-explanatory for that to happen. We have icons for things we like (a thumbs up), things we can share (a box topped with an up arrow), and even for protection against malicious online attacks (a shield), but what are the options we have for representing “privacy”? The answer is not so straightforward, and Preethi Sam examines the possibilities in this article.</p>
        <p>I’ve been on the lookout for a privacy icon and thought I’d bring you along that journey. This project I’ve been working on calls for one, but, honestly, nothing really screams “this means privacy” to me. I did what many of us do when we need inspiration for icons and searched The Noun Project, and perhaps you’ll see exactly what I mean with a small sample of what I found.</p>
        <p>Padlocks, keys, shields, and unsighted eyeballs. There’s a lot of ambiguity here, at best, and certainly no consensus on how to convey “privacy” visually. Any of these could mean several different things. For instance, the eyeball with a line through it is something I often see associated with visibility (or lack thereof), such as hiding and showing a password in an account login context.</p>
        <p>There are a couple of solid points to be made about whether we need a less ambiguous icon for privacy or if an icon is even needed in the first place. For example, it’s fair to say that the content surrounding the icon will clarify the meaning. Sure, an eyeball with a line through it can mean several things, but if there’s a “Privacy” label next to it, then does any of this really matter? I think so.</p>
    </div> -->

  <!-- Position -->
  <!-- <div class="h-screen parent mb-6">
      <div class="container px-2">
        <div class="relative w-32 h-32 px-6 py-6 bg-red-500 rounded-lg p-8">
          <div class="absolute inset-2 p-2 w-24 h-24 bg-yellow-500 rounded-lg"> test </div>
        </div>
      </div>
    </div> -->


  <!-- <div class="relative bg-green-500 p-6 mt-6">
        <p>Relative parent</p>
        <div class="absolute px-3 my-2 rounded-lg bottom-0 left-0 bg-emerald-800">
            <p>Absolute child</p>
        </div>
    </div> -->

  <!-- <div class="h-screen text-white bg-slate-900 Parent"> -->
  <!-- <div class="container flex">
        <div class="z-50 p-3 bg-lime-400 border border-white rounded-full">06</div>
        <div class="z-40 p-3 bg-lime-400 border border-white rounded-full">05</div>
        <div class="z-30 p-3 bg-lime-400 border border-white rounded-full">04</div>
        <div class="z-20 p-3 bg-lime-400 border border-white rounded-full">03</div>
        <div class="z-10 p-3 bg-lime-400 border border-white rounded-full">02</div>
        <div class="z-0 p-3 bg-lime-400 border border-white rounded-full">01</div>
      </div> -->
  <!-- <img  class="w-1/2 h-1/2 object-none" src="https://media.istockphoto.com/id/1180804853/vector/autumn-a-cup-of-coffee.jpg?s=1024x1024&w=is&k=20&c=e5tVkHKy8sTd4t7BAtHTQWR3aQP9-F0Uci27cglubZs="  alt=""> -->
  <!-- </div> -->

  <!-- <div class="columns-2 mb-5">
      <p>Well, let me tell you something, ...</p>
      <p class="break-after-column">Sure, go ahead, laugh...</p>
      <p>Maybe we can live without...</p>
      <p>Look. If you think this is...</p>
    </div>

    <div class="columns-2">
      <p>The CSS clamp() function is often paired with viewport units for “fluid” font sizing that scales the text up and down at different viewport sizes. As common as this technique is, several voices warn that it opens up situations where text can fail WCAG Success Criterion 1.4.4, which specifies that text should scale up to at least 200% when the user’s browser reaches its 500% maximum zoom level. Max Barvian takes a deep look at the issue and offers ideas to help address it.</p>
      <p class="break-before-column">Every browser has default focus styles, yet out of the box, they aren’t very accessible. The goal of :focus is to give the user guidance on where exactly they are in the document and help them navigate through it. To achieve that, we need to avoid a focus that’s too subtle or not visible at all. In fact, removing outline is a bad idea as it removes any visible indication of focus for keyboard users. The more obvious the focus is, the better.</p>
      <p>Maybe we can live without...</p>
      <p>Look. If you think this is...</p>
    </div>

    <div class="columns-2">
      <p>There are ways of designing better :focus styles. In her article Tips For Focus Styles, Nic Chan highlights a few helpful tips on how to improve focus styles with better affordance and a bit of padding, offset, and proper outlines. Sara Soueidan also published a helpful reference guide to designing accessible, WCAG-compliant focus indicators. The guide is aimed at both designers who want to learn about accessibility considerations, as well as developers who want to implement them. Need more fun with :focus styles? Lari Maza has got your back, too.</p>
      <p class="break-inside-avoid-column"> It’s important co consider the accessibility concerns around :focus-visible: as Hidde de Vries has noted, not all people who rely on focus styles use a keyboard and making focus styles keyboard-only takes away an affordance for mouse users too, as focus also indicates that something is interactive (thanks to Jason Webb for the tip!)</p>
      <p> Every time you have to deal with a larger data set, be it a map, a data visualization, or just a country selector in checkout, autocomplete can boost customer’s input massively. But just as it helps with the input, it needs to help with announcing the options and the selection to the screen reader users as well.</p>
      <p>Look. If you think this is...</p>
    </div> -->

  <!-- <div class="border-8 border-rose-500 border-l-4"> Header </div> -->
  <div class="divide-y mb-4 divide-red-500">
    <div>01</div>
    <div>02</div>
    <div>03</div>
    <div>04</div>
  </div>

  <input type="text" class="outline-none border-2 border-rose-600" placeholder="Enter you name">

  <div class="grid grid-cols-3 divide-lime-500 divide-x-2">
    <div>01</div>
    <div>02</div>
    <div>03</div>
  </div>

  <button class="mb-4 me-3 outline outline-offset-2 outline-blue-500 ">Button A</button>
  <button class="me-3 outline outline-offset-2 outline-cyan-500 ">Button B</button>
  <button class="me-3 outline outline-offset-2 outline-pink-500 ">Button C</button>
  <br>

  <button class="me-3  ring-offset-rose-700 ring-offset-8 ring-4">Button A</button>
  <button class="me-3 ring-offset-8 ring">Button B</button>
  <button class="ring-offset-2 ring-4">Button C</button>
  <br>
  <!-- box shadow -->
  
    <!-- <div class="ms-4 mt-4 block p-4 shadow-lg shadow-red-400  text-yellow-400 bg-red-900 border rounded-lg"> -->
      <!-- <img class="w-1/3 h-1/3 mb-4 hover:blur-sm" src="https://images.unsplash.com/photo-1682685797769-481b48222adf?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""> -->
      <!-- <img class="w-1/3 h-1/3 mb-4 hover:brightness-125" src="https://images.unsplash.com/photo-1682685797769-481b48222adf?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""> -->
      <!-- <img class="w-1/3 h-1/3 mb-4 grayscale hover:grayscale-0"
        src="https://images.unsplash.com/photo-1682685797769-481b48222adf?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="">
      <h1 class="text-2xl"> Profile Name </h1>
      <p class="mb-4"> Small description about profile </p> -->
      <!-- <button class="px-3 py-2 rounded-lg cursor-pointer bg-cyan-950 text-cyan-300 shadow-md shadow-yellow-500 hover:opacity-50"> Say Hello </button> -->
      <!-- <button
        class="hover:-translate-y-2 transition px-3 py-2 rounded-lg cursor-pointer bg-cyan-950  text-cyan-300 shadow-md shadow-yellow-500 hover:opacity-50">
        Say Hello </button> -->
    <!-- </div> -->
  
    <br>
    <button class=" mb-4 bg-blue-500 hover:bg-indigo-500 transition transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none ...">
      Hover me
    </button> <br>

    <button type="button" class="mb-4 bg-indigo-500 " disabled>
      <svg class="animate-spin h-5 w-5 mr-3" viewBox="0 0 24 24">
      </svg>
      Processing
    </button> <br>

    <span class="relative flex h-3 w-3 ml-auto">
      <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"></span>
      <span class="relative inline-flex rounded-full h-3 w-3 bg-sky-500"></span>
    </span>
    <button class="me-3 mb-4 ms-4 outline outline-offset-2 outline-pink-500">
    Message
  </button>


</body>

</html>