<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testimonials</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <!-- <div class="Parent">
      <div>Header</div>
      <div class="flex ">
        <h2 class="grow">Main Content</h2>
        <div class="flex flex-col">
          <h2 class="basis-3/4">Sidebar</h2>
          <h2 class="basis-1/4">Menu</h2>
        </div>
      </div>
    </div> -->

    <div class="parent">
      <div>Header</div>
      <div class="flex">
        <!-- <div class="basis-1/4">Sidebar</div>
            <div class="basis-2/4">Main Cont</div>
            <div class="basis-1/4">Anot Cont </div> -->

        <!-- <div class="basis-4/12">Sidebar</div>
            <div class="basis-6/12">Main Cont</div>
            <div class="basis-2/12">Anot Cont </div> -->
      </div>

      <!-- <div class="flex flex-col md:flex-row"> 
            <div class="w-32 bg-blue-400"> Sidebar </div>
            <div class="w-full bg-red-700"> Main Content </div>
        </div> -->

      <!-- <div class="flex flex-col md:flex-row">
            <div class="flex w-full flex-nowrap">
                <div class="w-36 grow">01</div>
                <div class="w-32 grow">02</div>
                <div class="w-32 grow">03</div>
                <div class="w-32 grow">04</div>
                <div class="w-32 grow">05</div>
            </div>
        </div> -->

      <!-- <div class="flex items-center justify-evenly">
            <div>Sidebar</div>
            <div>
            <h2>Main Content</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque eaque natus optio sint, impedit rerum error alias voluptatibus sit inventore!</p>
        </div>
            <div>Anot Content</div>
        </div> -->

      <!-- <div class="flex items-baseline">
            <div class="bg-sky-400  pt-2 pb-6">01</div>
            <div class="bg-red-700  pt-8 pb-12">02</div>
            <div class=" bg-yellow-500 pt-12 pb-4">03</div>
        </div> -->
    </div>

    <div>Grid Tryout</div>
    <!-- <div class="grid lg:grid-cols-4 md:grid-cols-2 gap-4"> 
        <div class="bg-sky-500 p-6 rounded-lg"> 1 </div>
        <div class="bg-sky-500 p-6 rounded-lg"> 2 </div>
        <div class="bg-sky-500 p-6 rounded-lg"> 3 </div>
        <div class="bg-amber-500 p-6 rounded-lg col-span-2"> 4 </div>
        <div class="bg-sky-500 p-6 rounded-lg"> 5 </div>
        <div class="bg-sky-500 p-6 rounded-lg"> 6 </div>
    </div> -->

    <!-- Timestamp 2.03.12 -->
    <div class="container mx-auto">
      <div class="grid grid-cols-12 gap-4">
        <div class="col-start-3 col-span-4 bg-sky-500 p-4 rounded-lg">01</div>
        <div class="col-start-1 col-end-4 bg-sky-500 p-4 rounded-lg">02</div>
        <div class="col-end-7 col-span-2 bg-sky-500 p-4 rounded-lg">03</div>
        <div class="col-start-1 col-end-11 bg-sky-500 p-4 rounded-lg">04</div>
        <div class="col-start-11 col-end-12 bg-sky-500 p-4 rounded-lg">05</div>
      </div>
    </div>

    <div class="my-3 container mx-auto">
      <div class="grid grid-flow-col auto-cols-max">
        <div class="p-6 rounded-lg bg-fuchsia-500">01</div>
        <div class="p-6 rounded-lg bg-fuchsia-500">02</div>
        <div class="p-6 rounded-lg bg-fuchsia-500">03</div>
      </div>
    </div>

    <div class="grid grid-rows-4 grid-flow-col gap-4 my-3">
      <div class="row-span-2 p-6 rounded-lg bg-red-500">01</div>
      <div class="p-6 rounded-lg bg-red-500">02</div>
      <div class="p-6 rounded-lg bg-red-500">03</div>
      <div class="p-6 rounded-lg bg-red-500">04</div>
      <div class="p-6 rounded-lg bg-red-500 row-span-3">05</div>
      <div class="p-6 rounded-lg bg-red-500">06</div>
      <div class="p-6 rounded-lg bg-red-500">07</div>
      <div class="p-6 rounded-lg bg-red-500">08</div>
      <div class="p-6 rounded-lg bg-red-500">09</div>
      <div class="p-6 rounded-lg bg-red-500">10</div>
      <div class="p-6 rounded-lg bg-red-500">11</div>
      <div class="p-6 rounded-lg bg-red-500">12</div>
    </div>

    <div class="grid grid-flow-row-dense grid-cols-3 grid-rows-3 gap-3">
      <div class="p-6 rounded-lg bg-purple-500 col-span-2">01</div>
      <div class="p-6 rounded-lg bg-purple-500 col-span-2">02</div>
      <div class="p-6 rounded-lg bg-purple-500">03</div>
      <div class="p-6 rounded-lg bg-purple-500">04</div>
      <div class="p-6 rounded-lg bg-purple-500">05</div>
      <div class="p-6 rounded-lg bg-purple-500 col-span-2">06</div>
      <div class="p-6 rounded-lg bg-purple-500">07</div>
      <div class="p-6 rounded-lg bg-purple-500">08</div>
      <div class="p-6 rounded-lg bg-purple-500">09</div>
      <div class="p-6 rounded-lg bg-purple-500">10</div>
      <div class="p-6 rounded-lg bg-purple-500">11</div>
      <div class="p-6 rounded-lg bg-purple-500">12</div>
    </div>

    
  </body>
</html>
